{erl_opts, [debug_info]}.
{deps, []}.
{project_plugins, [rebar3_ex_doc]}.
{ex_doc, [
     {source_url, <<"https://github.com/NelsonVides/erl_csv">>},
     {extras, [<<"LICENSE">>]}
]}.
{profiles, [
  {prod, [
    {erl_opts, [inline_list_funcs, deterministic]}
   ]}
]}.
{dialyzer, [{warnings, [unknown]}]}.
